@font-face {
    font-family: 'spratcondensed_light';
    src: url('sprat-condensedlight-webfont.woff2') format('woff2'),
         url('sprat-condensedlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spratcondensed_thin';
    src: url('sprat-condensedthin-webfont.woff2') format('woff2'),
         url('sprat-condensedthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Overpass+Mono:wght@300;400;600;700&display=swap');

*{
	color: white;
	background-color: black;
	font-weight: normal;
}

h1{
	font-family: 'spratcondensed_light';
	font-size: 4em;
	letter-spacing: -.11em;
	word-spacing: .1em;
	margin-bottom: 0;
	text-transform: uppercase;
}


h2 {
	font-family: 'spratcondensed_light';
	font-size:1.5em;
	letter-spacing: 0em;
	margin-top: 0;
	margin-bottom: 1em;
}

h3 {
	font-family: 'Overpass Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: -0.05em;
	margin-bottom:0;
	margin-top:0;
	text-transform: uppercase;
}

h4 {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom:0;
}

p{
	font-family: franklin-gothic-urw, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	margin-top:.5em;
}

.theme-release{
	text-align: center;
}

@media only screen and (max-width: 500px) {
	.container{
	 	width: 100%;

	margin-left: 10px;
	margin-right: 10px;
	}
}

@media only screen and (min-width: 600px) {
	.container{
	 	width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}